.tabs {
    margin-top: 10px;
    margin-bottom: 0
}

.tab-head {
    margin-bottom: 0;
    width: 820px;
    border-bottom: 1px solid #333
}

.tab-head li {
    float: left
}

.tab-head a {
    display: block;
    float: left;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    position: relative;
    outline: 0;
    color: #333;
    text-shadow: 2px 2px 2px #666
}

.tab-head a:hover {
    text-decoration: none;
    color: #fd4326;
    font-size: 16px
}

.tab-head .on a {
    margin-right: 25px;
    padding: 0 10px;
    color: #fff;
    background-color: #333
}

.tab-head .on a:after {
    position: absolute;
    top: 0;
    right: -40px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-color: transparent #333;
    border-width: 40px 0 0 40px
}

.tab-head span {
    position: absolute;
    left: 0;
    bottom: 35px;
    z-index: 100;
    display: block;
    padding: 10px;
    width: 300px;
    font-size: 14px;
    color: #555;
    line-height: 22px;
    border: 1px solid #333;
    background-color: #fff;
    display: none
}

#form_pwd {
    height: 48px;
    margin-bottom: 3px
}

#pwd {
    float: left;
    padding: 4px 15px;
    width: 788px;
    height: 38px;
    line-height: 38px;
    outline: 0;
    font-size: 14px;
    color: #7a7368;
    border: 1px solid #333;
    background-color: #fff
}

#pwd:focus {
    border: 1px solid #111;
    -webkit-box-shadow: 2px 2px 10px #333;
    -moz-box-shadow: 2px 2px 10px #333;
    box-shadow: 2px 2px 10px #333
}

#submit {
    float: right;
    width: 138px;
    height: 48px;
    outline: 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-bottom: 3px solid #fd4326;
    background-color: #fd4326;
    font-family: tahoma;
    transition: background-color ease .3s
}

#submit:hover {
    background: #ff5f3f
}

#submit:active {
    position: relative;
    top: 1px
}

#tip {
    margin: 0;
    word-wrap: break-word;
    position: relative;
    padding: 28px 15px;
    width: 820px;
    font-size: 14px;
    color: #fff;
    background-color: #333;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 1px #333;
    -moz-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333
}

#score_check {
    display: none;
    -webkit-box-shadow: 1px 1px 1px #333;
    -moz-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;
    background-color: #333;
    font-size: 16px;
    color: red;
    width: 980px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 120px
}

#score_check a {
    color: #fff
}

#score_check a:hover {
    color: #fd4326
}

#jiejia {
    display: none
}

#ad {
    width: 980px;
    height: 90px;
    margin: 5px auto;
    overflow: hidden
}

.fr {
    width: 980px;
    color: #000;
    line-height: 28px;
    overflow: hidden;
    margin: 0 auto;
    font-size: 14px;
    text-shadow: 3px 3px 3px #aaa;
    margin-bottom: 5px;
    -webkit-box-shadow: 1px 1px 1px #333;
    -moz-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333
}

.frs {
    width: 80px;
    display: block;
    padding-left: 15px;
    float: left
}

.fru {
    width: 880px;
    overflow: hidden
}

.fru li {
    float: left
}

.fru a:hover {
    font-size: 15px;
    text-decoration: none
}

@media screen and (max-device-width: 600px) {
}